.navbar-background {
  background-color: #5398ba;
}

.navbar-button {
  background-color: #005fcc;
  color: #fff;
}

.navbar-button:hover {
  background-color: #004ca3;
  color: #fff;
}

.form-container {
  border: black 2px solid;
  border-radius: 10px;
}

.footer {
  background-color: #1a75a3;
  color: #fff;
}

.footerlink {
  color: #fff;
}

.pnf {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#error {
  color: orangered;
}

.nav-dropdown-link-color {
  color: #ffffffec;
}

.nav-dropdown-link-color:hover {
  color: #fff;
}

.dashboard-icon {
  color: #5398ba;
}

.visit-card,
.choose-doc-card {
  border-radius: 10px;
  border: 2px solid #ccc5c5;
}

.choose-doc-card:hover {
  border: 2px solid #747474;
}
